* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #4AB86B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    --pico-color: #4AB86B;
}

/* HEADER *******************************************************/

header {
    --pico-position: sticky;
    --pico-top: 0;

    --pico-display: flex;
    --pico-justify-content: space-between;
    --pico-align-items: center;
    --pico-padding: 1rem;
    --pico-background-color: #4AB86B;
    --pico-border-bottom: 1px solid black;
}
