* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

body {
    background-color: white;
    color: #4AB86B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER *********************************************************/

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #000;
    background-color: #4AB86B;
    border-bottom: 1px solid black;
}

/* NAV ************************************************************/

nav a {
    color: black;
    text-decoration: none;
}

/* MAIN ***********************************************************/

main {
    flex: 1;
    padding: 1rem;
}

@media only screen and (max-width: 500px) {
    header {
      font-size: 18px;
    }
    #cancel-button a {
        size: 5px;
    }
  }

/* LISTS **********************************************************/

#got-tool-list,
#needed-tool-list {
    list-style: none;
    padding: 0;
    width: max-content;
    margin: 1rem auto;
}

#got-tool-list li,
#needed-tool-list li {
    margin-bottom: 0.3rem;
    display: flex;
    padding: 0.2rem 0.75rem;
    width: 100%;
    gap: 1rem;
    background-color: #4AB86B;
    border-radius: 3rem;
}

/* ADD BUTTON *****************************************************/

#add-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    text-decoration: none;
}

#add-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    height: 3rem;
    width: 3rem;
    background-color: #4AB86B;
    color: black;
    border-radius: 3rem;
    border: 0.1rem solid #000;
}

#add-button a:hover {
    background-color: #3ba35a;
}

/* CANCEL BUTTON ***********************************************/

#cancel-button a {
    text-decoration: none;
    display: inline-block;
    padding: 1px 3px;
    border: 0.1rem solid #000;
    border-radius: 10%;
  }
  
  #cancel-button a:hover {
    background-color: #3BA35A;
    color: black;
  }
  
  .previous {
    background-color: #4AB86B;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }
  
#you-sure li {
    display: flex;
    align-items: center;
}

/* FOOTER *********************************************************/

footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid black;
    background-color: #4AB86B;
    font-size: 0.8rem;
    color: black;
}